@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 19px;



}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    padding: 0 13px;
    font-size: 13px;


}

ul li a {
    color: aliceblue;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(202, 188, 188);
}

main {
    min-height: 100vh;
    padding: 2px;

}

.container {
    background-color: white;
    max-width: 80vw;
    margin: auto;
    padding: 15 px;
}

.container h1 {
    padding: 12px 0;

}

#resultCont div::first-letter {
    text-transform: uppercase;
}

#resultCont {
    padding: 15px;
}

div h2 {
    padding: 15px 15px 15px 15px;
    ;
}

.logo img {
    width: 22px;
    filter: invert(1);
}

.logo {
    font-size: 25px;
    padding: 6px 0;
}

#username {
    width: 400px;
}

.btn {
    background: black;
    color: white;
    padding: 9px 180px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}



footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: 12px;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        padding: 6px 0;
    }

    .logo img {
        width: 12px;
        filter: invert(1);
    }
}